# Debugging YACC files
*.output
*.tab.c
*.yy.c

# File and folder for IDEA integration
*.iml
.idea

# Folders for libraries
lib

# Deprecated code made by Luca
Luca.y
LucaInfo.java

# Folders that holds the application binaries
target
out

# Folders for integration with SonnarQube
.scannerwork

# Python enviroment for generations scripts
.venv

# Generated thesis document
Tesis.docx

# Node stack
node_modules
package.json
package-lock.json